.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color_light);
    /* padding: 0 1em; */
    /* margin: 0; */
}
.navbar p {    margin: 0;}
.navbar h4 {   margin: 0;}

.navbar > div {
    display: flex;
    justify-content: space-between;
    border: solid 3px blue;
}
.navbar > div > img{
    width: 35%;
}
.navbar > div > button > img {
    width: 15px;
}
.navbar > div {
    display: flex;
    gap: 2em;
    /* justify-content: space-around; */
    border: solid 3px blue;
    align-items: center; /*stretch*/
}
.navbar > div > button {
    border: 3px solid rgb(224, 74, 224);
    display: flex;
    align-items: center;
    gap: .5rem;
    /* padding:  1em; */
}

/*last div*/

.last__div {
    display: flex;
    align-items: center;
    border: 3px solid red;
}
.last__div > img {
    /* width: 30px; */
    min-height: 20px ;
    margin-right: 0.5em;
}
.last__div > div {
    align-items: center;
    justify-content: center;
    /* width: 1000px; */
    border: 3px solid lightblue;
} 
.last__div > div > button {
    display: flex;
    align-items: center;
    padding: .25em 0.5em;
    width: 100%;
    gap: 0.50rem;
}
.last__div > div > button > img {
    width: 15px;
} 